body{
	background-color: #4682b4;
	text-align: center;
	height: 800px;
	width: auto;
}

.div1{

	background-color: #afeeee;
	float: left;
	height: 700px;
	width: 200px;
}

.div2{
text-align: center ;
background-color: #1e90ff;
margin: auto;
width: 1000px;
height: 700px

}

li {
	text-align: left;
}

.p {
	font-family: sans-serif;
	font-size: 18px ;
	font-weight: bold;

}
