#wrap{
	background-color: #00bfff;
    width: 800px; height: 600px
}

.d{
text-align: center;


}

.p {
	font-family: sans-serif;
	font-size: 25px ;
	font-weight: bold;

}
ul{
	list-style-type: none;
}